<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Day_5</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>validate</servlet-name>
  	<servlet-class>com.demo.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>validate</servlet-name>
  	<url-pattern>/validateuser</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>show</servlet-name>
     <servlet-class>com.demo.servlets.ShowProduct</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>show</servlet-name>
     <url-pattern>/showproduct</url-pattern>
  </servlet-mapping>

  <servlet>
     <servlet-name>category</servlet-name>
     <servlet-class>com.demo.servlets.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>category</servlet-name>
   <url-pattern>/showcategory</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>demo1</servlet-name>
  	<servlet-class>com.demo.servlets.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>demo1</servlet-name>
  	<url-pattern>/demo1</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>demo2</servlet-name>
  	<servlet-class>com.demo.servlets.DemoServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>demo2</servlet-name>
  	<url-pattern>/demo2</url-pattern>
  </servlet-mapping>
  
      <servlet>
  	<servlet-name>cookie</servlet-name>
  	<servlet-class>com.demo.servlets.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>cookie</servlet-name>
  	<url-pattern>/cookiedemo</url-pattern>
  </servlet-mapping>
  
  </web-app>